@import "styles/mixins";

.root {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 0 0 auto;
  width: fit-content;
  font: inherit;
}

.separator {
  flex: 0 0 auto;
  color: rgba($color-black, 0.5);
  user-select: none;
  white-space: pre;
  line-height: 1;
}
