@import "styles/mixins";

.root {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 6px 8px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 12px;
  @include animate(background-color);

  &:hover,
  &:focus-visible {
    background-color: color-mix(in srgb, $input-bg-color 50%, $input-active-color 25%);
    outline: none;
  }
}

.name {
  margin-left: 4px;
  opacity: 0.5;
}
