@import "styles/mixins";

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.statusText {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  color: rgba($color-black, 0.5);
  font-size: 12px;
}

.numberInput {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 0 0 auto;
  width: fit-content;
}
